/* line 3, ../sass/rollDisk.scss */
.rollContainer {
  padding: 50px 0;
  position: relative;
}

/* line 8, ../sass/rollDisk.scss */
.rollWrapper {
  padding: 10px;
  float: left;
}

/* line 13, ../sass/rollDisk.scss */
.roll {
  background-color: #ffffff;
  border: 1px solid #f6f6f6;
  box-shadow: inset 0 0 2px #333333;
  -webkit-box-shadow: inset 0 0 2px #333333;
  -o-box-shadow: inset 0 0 2px #333333;
  -moz-box-shadow: inset 0 0 2px #333333;
}
/* line 19, ../sass/rollDisk.scss */
.roll:hover {
  border-left: none;
}
/* line 23, ../sass/rollDisk.scss */
.roll:hover .rollFront {
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  -ms-transition: .4s ease;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  box-shadow: 0px 0 10px #252525;
}
/* line 28, ../sass/rollDisk.scss */
.roll:hover .rollBack {
  display: inline-block;
}

/* line 36, ../sass/rollDisk.scss */
.round {
  height: 220px;
  width: 220px;
  border-radius: 110px;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  -o-border-radius: 110px;
}

/* line 41, ../sass/rollDisk.scss */
.rollFront {
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  -ms-transition: .4s ease;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  float: left;
  display: inline-block;
}
/* line 42, ../sass/rollDisk.scss */
.rollFront img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

/* line 51, ../sass/rollDisk.scss */
.rollBack {
  display: none;
  margin-left: 50px;
}

@media screen and (max-width: 780px) {
  /* line 60, ../sass/rollDisk.scss */
  .roll:hover .rollFront {
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    -ms-transition: .4s ease;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    display: none;
  }
  /* line 64, ../sass/rollDisk.scss */
  .roll:hover .rollBack {
    margin: 20px;
    text-align: center;
    display: block;
  }
}
@media screen and (max-width: 480px) {
  /* line 77, ../sass/rollDisk.scss */
  .rollWrapper {
    float: none;
    margin: 0 auto;
  }

  /* line 82, ../sass/rollDisk.scss */
  .roll {
    overflow: hidden;
    margin: 0;
  }
}
