/* line 1, ../sass/_reset.scss */
span {
  display: inline-block;
}

/* line 4, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #999999;
}

/* line 8, ../sass/_reset.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* line 14, ../sass/_reset.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 18, ../sass/_reset.scss */
label, input, textarea {
  outline: none;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/_reset.scss */
input, textarea {
  width: 350px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
}
/* line 31, ../sass/_reset.scss */
input:focus, textarea:focus {
  padding: 5px;
  border: 3px solid sandybrown;
}

/* line 36, ../sass/_reset.scss */
img {
  border: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
}

/* line 4, ../sass/style.scss */
html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/style.scss */
body {
  font: 1.2em/1.4em 'Happy Monkey',Arial,helvetica,sans-serif;
  background-color: #f6f6f6;
}

/* line 15, ../sass/style.scss */
section {
  width: 100%;
}

/* line 19, ../sass/style.scss */
.content {
  width: 980px;
  margin: 0 auto;
}

/* line 24, ../sass/style.scss */
#about {
  background-color: #ffffff;
}

/* line 28, ../sass/style.scss */
#portfolio {
  background: #e6e6e6;
}

/* line 32, ../sass/style.scss */
#contact {
  position: relative;
  height: 620px;
}

/* line 37, ../sass/style.scss */
#dateClock {
  padding: 50px;
  height: 150px;
  background-color: #dddddd;
}

/* line 43, ../sass/style.scss */
.logoWrapper {
  margin: 10px 0;
  float: left;
}

@-webkit-keyframes logoRotate {
  /* line 98, ../sass/_mixin.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 98, ../sass/_mixin.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes logoRotate {
  /* line 101, ../sass/_mixin.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 101, ../sass/_mixin.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes logoRotate {
  /* line 104, ../sass/_mixin.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 104, ../sass/_mixin.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes logoRotate {
  /* line 107, ../sass/_mixin.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 107, ../sass/_mixin.scss */
  to {
    transform: rotate(360deg);
  }
}

/* line 50, ../sass/style.scss */
.logo {
  height: 30px;
  width: 30px;
  vertical-align: bottom;
  display: inline-block;
  -webkit-animation: logoRotate 5s infinite;
  /* Chrome, Safari 5+ */
  -moz-animation: logoRotate 5s infinite;
  /* Firefox 5-15 */
  -o-animation: logoRotate 5s infinite;
  /* Opera 12.00 */
  animation: logoRotate 5s infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

/* line 58, ../sass/style.scss */
.slogan {
  font: 5.2em 'Roboto', sans-serif;
  text-transform: uppercase;
  height: 350px;
  padding: 50px 20px;
}
/* line 63, ../sass/style.scss */
.slogan span {
  display: none;
}

/* line 68, ../sass/style.scss */
.name {
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 1em;
  font-weight: bolder;
  color: #999999;
  display: inline-block;
}

/* line 77, ../sass/style.scss */
.subTitle {
  float: left;
}

/* line 81, ../sass/style.scss */
.navLinks {
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.6em;
  float: right;
  margin-top: 30px;
}
/* line 88, ../sass/style.scss */
.navLinks li {
  text-align: center;
  list-style: none;
  display: inline-block;
  width: 100px;
  background: #ffffff;
  box-shadow: 1px 1px 1px #e6e6e6;
}
/* line 96, ../sass/style.scss */
.navLinks li a {
  display: block;
}
/* line 102, ../sass/style.scss */
.navLinks li:hover a {
  color: sandybrown;
  border-bottom: 3px solid #1bb5ff;
}

/* line 114, ../sass/style.scss */
.aboutMyself {
  font: 1.8em 'Happy Monkey', sans-serif;
  float: right;
  padding: 20px;
  display: none;
}
/* line 119, ../sass/style.scss */
.aboutMyself p {
  height: 20px;
}
/* line 122, ../sass/style.scss */
.aboutMyself a {
  color: #fb8521;
}

/* line 127, ../sass/style.scss */
.resume {
  display: none;
}
/* line 129, ../sass/style.scss */
.resume p {
  display: block;
  padding: 10px 0;
}

/* line 136, ../sass/style.scss */
.firstRow {
  color: #e5e5e5;
}

/* line 139, ../sass/style.scss */
.secondRow {
  color: #a5a5a5;
}

/* line 142, ../sass/style.scss */
.thirdRow {
  color: #666666;
}

/* line 145, ../sass/style.scss */
.fourthRow {
  color: #262626;
}

/* line 149, ../sass/style.scss */
#canvas-map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

/* line 159, ../sass/style.scss */
.contactForm {
  background-color: #ffffff;
  position: absolute;
  width: 350px;
  padding: 15px;
  margin: 90px 20px;
  color: #999999;
  font-size: 15px;
  z-index: 5;
}

/* line 171, ../sass/style.scss */
.socialLinks {
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 20%;
}
/* line 176, ../sass/style.scss */
.socialLinks li {
  display: inline-block;
  background: #666666;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: .5;
}
/* line 181, ../sass/style.scss */
.socialLinks li:hover {
  opacity: 1;
}

/* line 187, ../sass/style.scss */
.formTextarea {
  height: 150px;
  border: 1px solid #ccc;
}

/* line 192, ../sass/style.scss */
.formText {
  height: 35px;
  border: 1px solid #ccc;
}

/* line 197, ../sass/style.scss */
.formTitle {
  padding: 5px 0;
}

/* line 201, ../sass/style.scss */
.message {
  font-size: .8em;
  color: red;
}

/* line 205, ../sass/style.scss */
.wrapper {
  -webkit-transition: .15s linear;
}

/* line 209, ../sass/style.scss */
.footer {
  border-top: 1px solid lightgrey;
}

/* line 213, ../sass/style.scss */
.button {
  padding: 10px 20px;
  display: block;
  margin: 10px 0;
  color: #fff;
  border: none;
  background: #1bb5ff;
  cursor: pointer;
  text-transform: uppercase;
}

/* line 225, ../sass/style.scss */
.clearFix:after {
  clear: both;
  content: '';
  display: block;
}

/* line 232, ../sass/style.scss */
.scrollNav {
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 10;
}

/* line 239, ../sass/style.scss */
.scrollNavItem {
  margin: 10px;
}
/* line 243, ../sass/style.scss */
.scrollNavItem:hover .hoverText {
  opacity: 1;
}
/* line 249, ../sass/style.scss */
.scrollNavItem a.active .dot {
  background: none;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
/* line 253, ../sass/style.scss */
.scrollNavItem a.active .hoverText {
  opacity: 1;
}

/* line 259, ../sass/style.scss */
.dot {
  box-sizing: border-box;
  border: 1px solid #999999;
  background: #999999;
  margin: 0 auto;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

/* line 267, ../sass/style.scss */
.hoverText {
  opacity: 0;
  width: 50px;
  text-align: right;
}

@media screen and (max-width: 780px) {
  /* line 275, ../sass/style.scss */
  .sloganWrapper {
    width: 780px;
  }

  /* line 279, ../sass/style.scss */
  .subTitle {
    float: none;
  }

  /* line 283, ../sass/style.scss */
  .aboutMyself {
    float: none;
  }

  /* line 287, ../sass/style.scss */
  .content {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  /* line 296, ../sass/style.scss */
  body {
    font-size: 1em;
    line-height: 1.2em;
  }

  /* line 301, ../sass/style.scss */
  .slogan {
    font-size: 4.2em;
  }

  /* line 305, ../sass/style.scss */
  .logoWrapper {
    float: none;
    text-align: center;
  }

  /* line 310, ../sass/style.scss */
  .navLinks {
    float: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  /* line 315, ../sass/style.scss */
  .navLinks li {
    width: 100%;
    margin: 10px auto;
  }
  /* line 318, ../sass/style.scss */
  .navLinks li:hover {
    background-color: deepskyblue;
  }
}
