@import "mixin";
@import "reset";

html{
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body{
  font:1.2em/1.4em 'Happy Monkey',Arial,helvetica,sans-serif;
  background-color: #f6f6f6;
}

section{
  width:100%;
}

.content{
  width:980px;
  margin: 0 auto;
}

#about{
  background-color:#ffffff;
}

#portfolio{
  background: #e6e6e6;
}

#contact{
  position: relative;
  height: 620px;
}

#dateClock{
  padding: 50px;
  height: 150px;
  background-color: #dddddd;
}

.logoWrapper{
  margin: 10px 0;
  float: left;
}

@include keyframes(logoRotate);

.logo{
  height: 30px;
  width: 30px;
  vertical-align: bottom;
  display: inline-block;
  @include animate(logoRotate);
}

.slogan{
  font:5.2em 'Roboto', sans-serif;
  text-transform: uppercase;
  height: 350px;
  padding: 50px 20px;
  span{
    display: none;
  }
}

.name{
  text-transform: uppercase;
  font-size:2.2em;
  line-height: 1em;
  font-weight: bolder;
  color: #999999;
  display: inline-block;
}

.subTitle{
  float: left;
}

.navLinks{
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.6em;
  float: right;
  margin-top: 30px;

  li{
    text-align: center;
    list-style:none;
    display:inline-block;
    width: 100px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #e6e6e6;

    a{
      display: block;
    }

    &:hover{

      a{
        color:sandybrown;
        border-bottom: 3px solid #1bb5ff;
      }

    }
  }
}

.sloganWrapper{
}

.aboutMyself{
  font:1.8em 'Happy Monkey', sans-serif;
  float: right;
  padding: 20px;
  display:none;
  p{
    height: 20px;
  }
  a{
    color:#fb8521;
  }
}

.resume{
  display: none;
  p{
    display: block;
    padding: 10px 0;
  }

}

.firstRow{
  color:#e5e5e5;
}
.secondRow{
  color:darken(#e5e5e5,25%)
}
.thirdRow{
  color:darken(#e5e5e5,50%)
}
.fourthRow{
  color:darken(#e5e5e5,75%)
}

#canvas-map{
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

.contactForm{
  background-color: #ffffff;
  position: absolute;
  width: 350px;
  padding: 15px;
  margin: 90px 20px;
  color: #999999;
  font-size: 15px;
  z-index: 5;

}

.socialLinks{
  position: absolute;
  z-index: 100;
  left:50%;
  bottom:20%;
  li{
    display: inline-block;
    background: #666666;
    @include round(30px);
    opacity: .5;
    &:hover{
      opacity: 1;
    }
  }
}

.formTextarea{
  height: 150px;
  border: 1px solid #ccc;
}

.formText{
  height: 35px;
  border: 1px solid #ccc;
}

.formTitle{
  padding: 5px 0;
}

.message{
  font-size: .8em;
  color:red;
}
.wrapper{
  -webkit-transition: .15s linear;
}

.footer{
  border-top:1px solid lightgrey ;
}

.button{
  padding: 10px 20px;
  display: block;
  margin: 10px 0;
  color: #fff;
  border: none;
  background: #1bb5ff;
  cursor: pointer;
  text-transform: uppercase;
}

.clearFix{
  &:after{
    clear:both;
    content: '';
    display: block;
  }
}

.scrollNav{
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 10;
}

.scrollNavItem{
  margin: 10px;

  &:hover{
    .hoverText{
      opacity: 1;
    }
  }

  a.active{
    .dot{
      background: none;
      @include round(8px);
    }
    .hoverText{
      opacity:1;
    }
  }
}

.dot{
  box-sizing: border-box;
  border:1px solid #999999;
  background: #999999;
  margin:0 auto;
  @include round(4px);
}

.hoverText{
  opacity: 0;
  width: 50px;
  text-align: right;
}

@media screen and (max-width:"780px"){

  .sloganWrapper{
    width:780px;
  }

  .subTitle{
    float: none;
  }
  
  .aboutMyself{
    float: none;
  }

  .content{
    width: 100%;
    margin: 0 auto;
  }

}

@media screen and (max-width:"480px"){

  body{
    font-size:1em;
    line-height: 1.2em;
  }

  .slogan{
    font-size: 4.2em;
  }

  .logoWrapper{
    float: none;
    text-align: center;
  }

  .navLinks{
    float: none;
    text-align: center;
    padding: 0;
    margin: 0;
    li{
      width: 100%;
      margin: 10px auto;
      &:hover{
        background-color: deepskyblue;
      }
    }
  }


}
