@mixin Rotate($deg){
  transition:.4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  -ms-transition: .4s ease;

  transform:rotate($deg);
  -webkit-transform:rotate($deg);
  -moz-transform:rotate($deg);
  -ms-transform:rotate($deg);
  -o-transform:rotate($deg);
}

@mixin round($size){
  height:$size;
  width: $size;
  border-radius: $size * .5;
  -webkit-border-radius:$size * .5;
  -moz-border-radius: $size * .5;
  -o-border-radius: $size * .5;

  overflow: hidden;
}

@mixin radius($size){
  border-radius: $size;
  -webkit-border-radius:$size;
  -moz-border-radius: $size;
  -o-border-radius: $size
}

@mixin shadow($size){

}

@mixin box-shadow($properties) {
  box-shadow: $properties;
  -webkit-box-shadow: $properties;
  -o-box-shadow: $properties;
  -moz-box-shadow: $properties;
}

@mixin box-innerShadow($properties){
  box-shadow:inset $properties;
  -webkit-box-shadow:inset $properties;
  -o-box-shadow:inset $properties;
  -moz-box-shadow:inset $properties;
}

@mixin box-radius($properties){
  -webkit-border-radius: $properties;
  border-radius: $properties;
  background-clip: padding-box;
}

@mixin perspective($properties){
  -webkit-perspective: $properties;
  -moz-perspective: $properties;
  -ms-perspective: $properties;
  perspective: $properties;
}

@mixin transform($properties){
  -webkit-transform: $properties;
  -moz-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}

@mixin transform-style($properties){
  -webkit-transform-style: $properties;
  -moz-transform-style: $properties;
  -ms-transform-style: $properties;
  transform-style: $properties;
}

@mixin \3dtransform(){
  @include perspective(300px);
  @include transform(rotateY(180deg));
  @include transform-style(preserve-3d);
}

@mixin transition($properties){
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -o-transition: $properties;
  transition: $properties;
}

@mixin backface-visibility($properties){
  backface-visibility:$properties;
  -webkit-backface-visibility:$properties;
  -moz-backface-visibility:$properties;
}

@mixin keyframes($name){

  @-webkit-keyframes #{$name} {
    from  {-webkit-transform:rotate(0deg);} to {-webkit-transform:rotate(360deg);}
  }
  @-moz-keyframes #{$name} {
    from  {-moz-transform:rotate(0deg);} to {-moz-transform:rotate(360deg);}
  }
  @-o-keyframes #{$name} {
    from  {-o-transform:rotate(0deg);} to {-o-transform:rotate(360deg);}
  }
  @keyframes #{$name} {
    from  {transform:rotate(0deg);} to {transform:rotate(360deg);}
  }
}

@mixin animate($name){
  -webkit-animation: $name 5s infinite; /* Chrome, Safari 5+ */
  -moz-animation: $name 5s infinite; /* Firefox 5-15 */
  -o-animation: $name 5s infinite; /* Opera 12.00 */
  animation: $name 5s infinite; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

span{
  display: inline-block;
}
a{
    text-decoration:none;
    color:#999999;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
p{
   padding: 0;
   margin: 0;
 }
label,input,textarea{
  outline: none;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}
input,textarea{
  width: 350px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  &:focus{
    padding:5px;
    border:3px solid sandybrown;
  }
}
img{
  border: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
}

html{
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body{
  font:1.2em/1.4em 'Happy Monkey',Arial,helvetica,sans-serif;
  background-color: #f6f6f6;
}


#about{
  background-color:#ffffff;
  position:relative;
}

#portfolio{
  background: #e6e6e6;
}

#contact{
  position: relative;
  height: 620px;
}

#dateClock{
  padding: 50px;
  height: 150px;
  background-color: #dddddd;
}

.logoWrapper{
  margin: 10px 0;
  float: left;
}

@include keyframes(logoRotate);

.logo{
  height: 30px;
  width: 30px;
  vertical-align: bottom;
  display: inline-block;
  @include animate(logoRotate);
}

.slogan{
  font:5.2em 'Roboto', sans-serif;
  text-transform: uppercase;
  height: 350px;
  padding: 50px 20px;
  span{
    display: none;
  }
}

.name{
  text-transform: uppercase;
  font-size:2.2em;
  line-height: 1em;
  font-weight: bolder;
  color: #999999;
  display: inline-block;
}

.subTitle{
  float: left;
}

.navLinks{
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.6em;
  float: right;
  margin-top: 30px;

  li{
    text-align: center;
    list-style:none;
    display:inline-block;
    width: 100px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #e6e6e6;

    a{
      display: block;
    }

    &:hover{

      a{
        color:sandybrown;
        border-bottom: 3px solid #1bb5ff;
      }

    }
  }
}

.sloganWrapper{
	position:absolute;
	width:980px;
}

.aboutMyself{
  font:1.8em 'Happy Monkey', sans-serif;
  float: right;
  padding: 20px;
  display: none;
  a{
    color:#fb8521;
  }
}

.resume{
	width:980px;
	position:absolute;
}



.firstRow{
  color:#e5e5e5;
}
.secondRow{
  color:darken(#e5e5e5,25%)
}
.thirdRow{
  color:darken(#e5e5e5,50%)
}
.fourthRow{
  color:darken(#e5e5e5,75%)
}




.round{
  @include round(220px);
}

.flipContainer {
  padding-top:50px;
  position: relative;
}

.flipWrapper{
  margin:0 160px 50px 0;
  float: left;

  &:nth-child(3n){
    margin:0;
    float: right;
  }
}

.flip{
  background-color: #ffffff;
  border:1px solid #f6f6f6;

  @include box-innerShadow(0 0 2px #333);

  &:hover{
    border-left: none;

    .flipFront{
      @include Rotate(360deg);
      box-shadow: 0px 0 10px #252525;
    }

    .flipBack{
      display: inline-block;
    }

  }

}

.flipFront{
  img{
    @include radius(110px);
  }
  @include Rotate(0deg);
  float: left;
  display: inline-block;

}

.flipBack{
  display: none;
  margin-left: 50px;
  float: left;
}


#canvas-map{
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

.contactForm{
  background-color: #ffffff;
  position: absolute;
  width: 350px;
  padding: 15px;
  margin: 90px 20px;
  color: #999999;
  font-size: 15px;
  z-index: 100;

}

.socialLinks{
  position: absolute;
  z-index: 100;
  left:50%;
  bottom:20%;
  bottom:20%;
  li{
    display: inline-block;
    background: #666666;
    @include round(30px);
    opacity: .5;
    &:hover{
      opacity: 1;
    }
  }
}

.formTextarea{
  height: 150px;
  border: 1px solid #ccc;
}

.formText{
  height: 35px;
  border: 1px solid #ccc;
}

.formTitle{
  padding: 5px 0;
}

.wrapper{
  -webkit-transition: .15s linear;
}

.footer{
    border-top:1px solid lightgrey ;
}

.button{
  padding: 10px 20px;
  display: block;
  margin: 10px 0;
  color: #fff;
  border: none;
  background: #1bb5ff;
  cursor: pointer;
  text-transform: uppercase;
}

.clearFix{
  &:after{
    clear:both;
    content: '';
    display: block;
  }
}

.commonWith{
    width: 980px;
    max-width: 1100px;
    margin: 0 auto;
}

.commonHeight{
  height: 620px;
  overflow: hidden;
}

.scrollNav{
  position: fixed;
  right: 10px;
  top: 40%;
}

.scrollNavItem{
  margin: 10px;

  &:hover{
    .hoverText{
      opacity: 1;
    }
  }

  a.active{
	  .dot{
        background: none;
        @include round(8px);
      }
	.hoverText{
      opacity:1;
    	}
    }
}

.dot{
  box-sizing: border-box;
  border:1px solid #999999;
  background: #999999;
  margin:0 auto;
  @include round(4px);
}

.hoverText{
  opacity: 0;
  width: 50px;
  text-align: right;
}

@media screen and (max-width:"780px"){

  .commonWith{
    width: 680px;
    max-width: 780px;
  }

  .flipWrapper{
    margin:0 10px 5px 0;
  }

  .flip{
    &:hover{

      .flipFront{
        @include Rotate(0deg);
        display:none;
      }
      .flipBack{
        margin: 20px;
        text-align: center;
        display: block;
      }

    }
  }

}

@media screen and (max-width:"480px"){

  body{
    font-size:1em/1.2em;
  }

  .slogan{
    font-size: 4.2em;
  }

  .commonWith{
    width: 380px;
    max-width: 480px;
    margin: 0 auto;
  }

  .logoWrapper{
    float: none;
    text-align: center;
  }


  .navLinks{
    float: none;
    text-align: center;
    padding: 0;
    margin: 0;
    li{
      width: 100%;
      margin: 10px auto;
      &:hover{
        background-color: deepskyblue;
      }
    }
  }

  .flipWrapper{
    margin:0;
    &:nth-child(3n){
      margin:0;
      float: none;
    }
  }

  .flip{
    overflow: hidden;
    margin:25px;
  }

  .flipFront{
  }

}
